= simple_form_for ["admin", @article] do |f|
  = f.error_notification
  .row
    .col-sm-9
      = f.input :title
      = f.input :excerpt, as: :text, input_html: { class: "form-control", rows: 3 }
    .col-sm-3
      .row
        = f.input :category_id, collection: @categories, prompt: "Select category"
      .row
        = f.input :status, collection: ["Draft", "Published", "Scheduled"], selected: status_for(@article)
        .published-field
          = f.input :published_at, as: :date_time_picker
  .row
    .col-sm-12
      = f.input :body, as: :text, input_html: { class: "form-control", rows: 10 }
  .row
    .col-sm-12
      = f.button :submit, class: "btn btn-primary"