.page-header
  %h1 Delete #{ @article.title }

= simple_form_for ['admin', @article], :method => :delete do |f|
  .alert.alert-warning
    %p 
      #{ icon('warning') } You are about to delete this article.
      Note that this action cannot be undone. 
      Are you sure want to proceed?
  .form-group
    = f.submit 'Yes, Delete it!', class: 'btn btn-danger btn-lg'
    = link_to 'No, I\'ve changed my mind', dashboard_path, class: 'btn btn-success btn-lg'