.page-header
  %h1 Dashboard RailsBlog

%table.table
  %thead
    %tr
      %th #
      %th Title
      %th Category
      %th Date Created
      %th Date Published
      %th Status
      %th
  %tbody
    - @articles.each do |article|
      %tr
        %td= article.id
        %td= link_to article.title, admin_article_path(article)
        %td= article.category.name
        %td= article.created_at.strftime('%d-%m-%Y, %H:%M')
        %td= article.published_at.strftime('%d-%m-%Y, %H:%M') if article.published_at?
        %td= status_label_for(article)
        %td
          = link_to '<i class="fa fa-pencil"></i> Edit'.html_safe, edit_admin_article_path(article), class: 'btn btn-warning btn-xs'
          = link_to '<i class="fa fa-trash"></i> Delete'.html_safe, delete_admin_article_path(article), class: 'btn btn-danger btn-xs'
= paginate @articles