.page-header
  %h1= @article.title
%p.text-muted 
  #{icon('calendar')} Created: #{ @article.created_at.strftime("%d %B %Y at %H:%M") }
  - if @article.published_at?
    &bull;
    Published: #{ @article.published_at.strftime("%d %B %Y at %H:%M")  }
  &bull;
  = status_label_for(@article)

.panel.panel-default
  .panel-heading
    Excerpt
  .panel-body
    %p= @article.excerpt

.panel.panel-default
  .panel-heading
    Body
  .panel-body
    = simple_format @article.body

%hr

= link_to 'Back', dashboard_path
\|
= link_to 'Edit', edit_admin_article_path(@article)
\|
= link_to 'Delete', delete_admin_article_path(@article)
