- @articles.each do |article|
  .blog-post
    %h2.blog-post-title #{ link_to article.title, article_path(article) }
    %p.blog-post-meta
      = link_to article.category.name, articles_path(category: article.category.id)
      &bull;
      #{ article.published_at.strftime('%d %B %Y, %H:%M') } by
      = link_to article.user.fullname, articles_path(author: article.user.id)
    %p #{ article.excerpt }
    %p= link_to 'Read more ...', article_path(article)
= paginate @articles