.blog-post
  %h2.blog-post-title #{ @article.title }
  %p.blog-post-meta
    = link_to @article.category.name, articles_path(category: @article.category.id) 
    &bull;
    #{ @article.published_at.strftime('%d %B %Y, %H:%M') } by
    = link_to @article.user.fullname, articles_path(author: @article.user.id)
  = simple_format @article.body
  %hr
  = link_to 'Back', root_path