%nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => root_path} RailsBlog
    #navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav
        / %li.active
        /   %a{:href => "#"} Home
        %li
          = link_to '<i class="fa fa-dashboard"></i> My Dashboard'.html_safe, dashboard_path
        %li
          = link_to '<i class="fa fa-pencil"></i> New Article'.html_safe, new_admin_article_path
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to '<i class="fa fa-user-circle"></i> '.html_safe + current_user.fullname, '#'
        %li
          = link_to '<i class="fa fa-power-off"></i> Log Out'.html_safe, destroy_user_session_path, method: :delete