.col-sm-3.col-sm-offset-1.blog-sidebar
  .sidebar-module.sidebar-module-inset
    %h4 About
    %p
      Etiam porta
      %em sem malesuada magna
      mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.

  - if @categories.present?
    .sidebar-module.sidebar-module-inset
      %h4 Categories
      %ol.list-unstyled
        %li
          = link_to "All", root_path
        - @categories.each do |category|
          %li
            = link_to "#{ category.name }", articles_path(category: category.id)
  
  - if @archives.present?
    .sidebar-module.sidebar-module-inset
      %h4 Archives
      %ol.list-unstyled
        - @archives.each do |archive|
          %li
            = link_to "#{ archive.month } #{ archive.year } (#{ archive.published })", articles_path(year: archive.year, month: archive.month_num)