.blog-masthead
  .container
    %nav.pull-right
      - if user_signed_in?
        = link_to "My Dashboard", dashboard_path, class: "blog-nav-item"
        = link_to "Log Out", destroy_user_session_path, method: :delete, class: "blog-nav-item"
      -else
        = link_to "Sign In", new_user_session_path, class: "blog-nav-item"
        = link_to "Sign Up", new_user_registration_path, class: "blog-nav-item"
    %nav.blog-nav
      = link_to "Home", root_path, class: "blog-nav-item"
      - if @categories.present?
        - @categories.each do |category|
          = link_to category.name, articles_path(category: category.id), class: "blog-nav-item"