!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RailsBlog
    = csrf_meta_tags
    = stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render "shared/admin_nav"
    .container
      = render "shared/flash"
      = yield
      %p

    %footer.footer
      .container
        %p.text-muted 
          Developed by 
          %a{:href => "mailto:LykourgosTs@hotmail.com"} Lykourgos Tsirikos
