!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RailsBlog
    = csrf_meta_tags
    = stylesheet_link_tag    'blog', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'shared/blog_nav'
    .container
      .blog-header
        %h1.blog-title The RailsBlog
        %p.lead.blog-description This is a blog - magazine website developed in Ruby on Rails framework. This is a demo project.
      .row
        .col-sm-8.blog-main
          = render "shared/flash"
          = yield
        = render 'shared/blog_sidebar'
    %footer.blog-footer
      %p
        RailsBlog website. Developed by 
        %a{:href => "mailto:LykourgosTs@hotmail.com"} Lykourgos Tsirikos
      %p
        %a{:href => "#"} Back to top
